/*colores
amarillo: #f7b617;
footer: #2b2b2b;
*/

*{
	margin:0;
	padding: 0;
}
/*navbar*/
.navbar{
	text-align: center;
	margin: 20px;
}
.a-uno{
	color: #2b2b2b;
	margin-left: 40px;
}
.a-uno:hover{
	color: #2b2b2b;
	text-shadow: 1px 2px #bbbbbb; /* sombra al texto */
	margin-left: 40px;
	text-decoration: none;
}
.otro{
	margin-top: 10px;
}
     
/*hero*/
#hero{
	background-image: url(../img/taxi.jpg);
	background-position:center bottom;
	background-size:cover;
	color: white;
	
}
.hero-dos{
	margin-top: 200px;
	margin-bottom: 200px;
	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 50px;
	background-color: #f7b617;
}
.in-uno{
	width: 150px;
	margin-right: 60px;
	background: none;
	border: none;
    border-bottom: 2px solid white;
}
.in-dos{
	width: 150px;
	margin-left: 60px;
	background: none;
	border: none;
    border-bottom: 2px solid white;
}
.boton-hero{
	margin-top: 30px;
	color: black;
	border-style: none;
	padding: 10px 30px;
	border-radius: 7px;
}
.boton-hero:hover {
	margin-top: 30px;
	color: white;
	background-color: #2b2b2b;
	border-style: none;
	padding-top: 10px 30px;
	border-radius: 7px;
}
.viaja{
	font-size: 26px;
}
/*informacion*/
#informacion{
	color: white;
	background-color: #f7b617;
	padding-top: 50px;
	padding-bottom: 50px;
}
.info{
	border: 2px solid white;
	border-left: none;	
}
.imagen-celular{
	margin: 50px;
}
.texto-info, .texto info p{
	font-size: 21px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-right: 180px;
}
/*conduce*/
#conduce{
	color: white;
	background-image: url(../img/conduce.jpg);
	background-position:center;
	background-size:cover;
	height: 75vh;
}
.conduce-dos{
	padding: 100px 60px 160px 45px;
	background-color: rgba(43, 43, 43, 0.4);
}
.boton-conduce{
	color: white;
	background-color: #f7b617;
	border-radius: 3px;
	margin: 15px auto;
	padding: 10px 15px;
	color: white;
	border:0;
	font-weight: 700;
	font-family: "raleway";
	font-size: 15px;
}
/*tarifas*/
#tarifas{
	color: white;
	background-color: #f7b617;
}
.tari{
	margin: 100px 0;
}
.consulta{
	margin:30px 0 30px 0;
	font-size: 16px;
}
.boton-ruta{
	border:0;
	padding: 8px 30px;
	border-radius: 3px;
	color: #2b2b2b;
	background-color: white;
}
#map{	
	height: 70vh;
}
.mapa{
	margin: 40px 0 40px 0;
	padding: 10px;
	border: 1px solid white;
}
.input-tarifas{
	margin-left: 20px;	
    margin-bottom: 30px;
	width: 50%;
	border: 1px solid white;
	background: none;
	border-radius: 7px;
	padding: 10px;
}
/*footer*/
footer{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #2b2b2b;
	color: white;
}
.linea-uno{
	border: 1px solid white;
	margin-top: 20px;
}
ul{
	list-style-type: none;
}
li{
	margin-top: 20px;
	margin-bottom: 10px;
}
li a{
	text-decoration: none;
	color: white;
}
li a:hover{
	text-decoration: none;
	color: grey;
}
.logo-blanco{
	
}
.icono-google{
	margin-top: 200px; 
}
.iconouno{
	margin-bottom: 30px;
    width: 60%;
}


.row{margin-right: 0 !important;
    margin-left: 0 !important;}